{
    email borjacarreres@gmail.com
}

alzitrans.duckdns.org {
    # Redirigir peticiones de la API al backend
    handle /api/* {
        reverse_proxy alzibus_backend:3000
    }

    # El resto de peticiones van a la web (Landing Page)
    handle {
        reverse_proxy alzibus_website:80
    }
}
